/* 
 * UiT CSS: Chooser
 * 
 * Fields for presenting options, e.g. like
 * http://www.uio.no/om/kontaktinformasjon/
 *
 * Example of html:
 *
 *  <div class="app-chooser">
 *      <div class="app-option">
 *          Student?
 *      </div>
 *      <div class="app-solution">
 *          <a href="/studys">Go to the student office</a>
 *      </div>
 *  </div>
 *
 *  <div class="app-chooser">
 *      <div class="app-option">
 *          Employee?
 *      </div>
 *      <div class="app-solution">
 *          <a href="/employee">Go to the administration</a>
 *      </div>
 *  </div>
 *      
 */

#app-content .app-chooser {
    clear: both;
    float: left;
    margin-bottom: 20px;
    background: url("images/uit-app-arrow-big-grey.png") no-repeat 57% center;
    width: 100%;
    /* 
     * Taken out from kontakt's design:
     
    background-color: #ffffff;
    width: 730px;
    */
}

#app-content .app-chooser:hover {
    background-image: url("images/uit-app-arrow-big-blue.png");
}

#app-content .app-chooser .app-option, #app-content .app-chooser .app-solution {
    background-color: #f6f6f6;
    padding: 15px 20px 10px 20px;
    border: 1px solid #d1d1d1;
    min-height: 3em;
}

/*
#app-content .app-chooser .app-option *:first-child,
#app-content .app-chooser .app-solution *:first-child {
    margin-top: 0px;
    padding-top: 0px;
}
*/


#app-content .app-chooser .app-option {
    float: left;
    width: 44%;
    font-size: 1.15em;
    /*
    line-height: 1.41em;
    */
}
#app-content .app-chooser .app-solution {
    float: right;
    width: 32%;
    line-height: 1.41em;
}

