/*
 *
 * UiO CSS: General UiO design for an app
 *
 */

/** Import the different stylesheets */
@import url('uio-app-top-bottom.css');
@import url('uio-app-typography.css');
@import url('uio-app-form-elements.css');
@import url('uio-app-tables.css');
@import url('uio-app-admonitions.css');
@import url('uio-app-chooser.css');
@import url('uio-app-navigation.css');

img {
  border: 0;
}


/* 
 * Every page should have a hidden navigation list in the start of the body,
 * right after the logo, to make life easier for the visually-impaired. Example:
 *
 *  <ul class="hidnav">
 *      <li><a href="#app-mainmenu">Jump to main menu</a></li>
 *      <li><a href="#app-content">Jump to content</a></li>
 *      <li><a href="#app-contact">Jump to contact information</a></li>
 *  </ul>
 */
.hidnav {
    display: none;
}

/* Lists */

/* TODO: create a new css file for lists? */
ul, ol {
    margin: 1em 1em;
    padding: .3em 1em;
}
ul li {
    margin: 0;
    padding: 0;
}
ul ul {
    margin: 0 1.5em;
    padding: 0;
}

dl {
    margin: .1em 0 1em .5em;
    padding: 0;
}

dl dt {
    font-weight: bold;
    width: 10em;
    margin: 0 .5em .5em 0;
    padding-bottom: .5em;
    float: left;
}
dl dd {
    margin: 0 0 .5em 11em;
    padding-bottom: .5em;
    min-height: 1em;
}

dl.descriptions dt {
  float: left;
  width: 10em;
}
dl.descriptions dd {
  margin: 0 0 .5em 11em;
}

dl dd ul {
    margin: 0;
    padding: 0 0 0 1em;
}
dl dd li {
    margin: 0;
}

dl#keywords dt {
    float: none;
    width: auto;
    font-size: large;
    display: block;
    margin-top: 2em;
}
dl#keywords dd {
    margin: 1em 0;
    padding: 0;
}

/* For complicated lists, with long-sized terms (dt) */
dl.complicated dt {
    float: none;
    width: auto;
    margin: 1em 0 .5em 0;
}
dl.complicated dd {
    margin-left: .5em;
}


/**
 * Recaptcha 
 *
 * The recaptcha html and scrip is automatically retreived from recaptcha.net,
 * but the css can be changed a bit.
 */
.recaptchatable * { } 

table#recaptcha_table {
    margin: 1em 0 1em 13.5em !important;
}

table#recaptcha_table #recaptcha_response_field {
    border: 1px solid #888 !important;
    padding: 2px 4px !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: inherit !important;
} 
table#recaptcha_table #recaptcha_image {
    border: none !important;
}


/** Extras */

.ekstrainfo {
    color: gray;

}
