/* 
 * UiO CSS: Admonitions (note, hint, warning etc.)
 * 
 */

/* Margin, padding m.m. */
div.admonition, div.attention, div.error, div.hint,
div.important, div.note, div.tip, div.warning,
div.caution, div.danger {
  padding: 15px 25px 10px 66px;
  margin:  20px 25px 20px 25px;
  background-color: #f8f8f8 !important;
  margin: 20px 0;
  border: 1px solid #d5d5d5;
  color: #000;
  border-radius: 10px; /* CSS 3 */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/* ^ Margin, padding m.m. */

/* Tittel */
p.admonition-title {
    font-weight: bold;
    font-size: 1.23em;
}
/* div.danger p.admonition-title { text-align: center; } */
/* ^ Tittel */

/* Ymse ting */
div.admonition ul, div.attention ul, div.error ul, div.hint ul,
div.important ul, div.note ul, div.tip ul, div.warning ul,
div.caution ul, div.danger ul {
    font-size: inherit;
}
div.admonition pre.literal-block, div.attention pre.literal-block,
div.error pre.literal-block, div.hint pre.literal-block, div.important pre.literal-block,
div.note pre.literal-block, div.tip pre.literal-block, div.warning pre.literal-block,
div.caution pre.literal-block, div.danger pre.literal-block {
    font-size: inherit;
    border: 1px solid #000;
}
div.admonition tt.literal, div.attention tt.literal, div.error tt.literal,
div.hint tt.literal, div.important tt.literal, div.note tt.literal,
div.tip tt.literal, div.warning tt.literal, div.caution tt.literal,div.danger tt.literal {
    color: inherit;
}
/* ^ Ymse ting */

/* Grafikk */
div.admonition { padding-left: 19px; }

div.error { background-image: url("images/admonitions/error.png"); }
div.warning { background-image: url("images/admonitions/warning-new.png"); }
div.note { background-image: url("images/admonitions/note-new.png"); }
div.caution { background-image: url("images/admonitions/caution.png"); }
div.important { background-image: url("images/admonitions/important.png"); }
div.tip { background-image: url("images/admonitions/tip.png"); }
div.hint { background-image: url("images/admonitions/hint.png"); }
div.attention { background-image: url("images/admonitions/attention.png"); }
div.danger { background-image: url("images/admonitions/danger.png"); }

div.error, div.note, div.admonition, div.warning,
div.caution, div.important, div.tip, div.hint,
div.attention, div.danger {
    background-position: 19px 12px ;
    background-repeat: no-repeat;
}
/* ^ Grafikk */

/* ^ UiO CSS: Admonitions (note, hint, warning etc.) */
