/**
 * IE-specific design...
 */

/* To avoid gap between elements */
#uio_logo_topp, #uio_it_banner {
    font-size: .1em;
}
#content table {
    /*width: auto !important;*/
    width: 90% !important;
}

/* One of UiO's css files in /visuell-profil defines
 * definitions to be "cursive". Avoiding this. */
dfn {
    font-style: normal !important;
    font-weight: normal;
}
