# For use during development. This will rewrite URLs properly even if Brukerinfo
# is set up in a sub-directory.

DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Copy paste from:
    #   http://www.zeilenwechsel.de/it/articles/8/Using-mod_rewrite-in-.htaccess-files-without-knowing-the-RewriteBase.html
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
    RewriteRule ^.*$ %2index.php [QSA,L]
</IfModule>
